.helpQuestion{
    /* position: absolute;
    top: 300px;
    left: 300px; */
    /* display: table-cell;
    text-align: right;
    float: right; */
    z-index: 1000;
}
.layoutName{
     margin-bottom: 10px; 
}
.iconHelp{
    transform: scale(3.0);
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
}
.editLayoutName{
    padding-left: 3px;
    transform: scale(1.2);
}
.datarows{
    color: rgba(0, 0, 255, 0.658);
    font-weight: 500;
    font-size: 15px;
    border-top: #53535369 0.3px solid;
    margin-right: 10px;
}